<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/cog1-svgrepo-com.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + TS</title>
    <script type="module" crossorigin src="/static/main/js/player-CTDT7U-V.js"></script>
    <link rel="modulepreload" crossorigin href="/static/main/js/svelte-CJBn0zUV.js">
    <link rel="stylesheet" crossorigin href="/static/main/css/tailwindinit-BBv9SNFV.css">
    <link rel="stylesheet" crossorigin href="/static/main/css/player-WjiJfP1Y.css">
  </head>
  <body>
    <div id="app"></div>
    <script>
      globalThis.jinjaParsed = false;
      try {
        if (!Number.parseInt("{{ 1 }}"))
          throw new Error("Jinja wasn't parsed.");
        globalThis.jinjaParsed = true;

        globalThis.csrfToken = "{{ csrf_token() }}";
      } catch {}
    </script>
  </body>
</html>
